:root {
  --color-white: white;/*rgb(250,250,250);*/
  --color-main: rgb(0,184,222);
  --color-dark: rgb(12,35,64);
  --color-contrast: rgb(242,169,0);
  --color-grey: rgb(220,220,220);
  --color-verb: rgb(240,240,240);
  --color-black: rgb(0,0,0);
}

body {
  max-width: 800pt;
  margin-top: 20pt;
  margin-bottom: 10pt;
  margin-left: 10%;
  font-family: Copperplate, Verdana, sans-serif;
}

h3 {
  margin: 20pt 0pt 12pt 0pt;
  font-size: 12pt;
}

p, li{
  text-indent: 0cm;
  text-align: justify;
}

a {
  color: var(--color-dark);
}

a:hover {
  color: var(--color-main);
}

hr {
  border-width: 0px 0px 1px 0px ;
  border-style: dotted;
  border-color: rgb(184,184,184);
  padding-top: 14pt;
}

table{
  margin: 10pt 20pt 5pt 20pt ;
  border-collapse:collapse;
}

table tr{
  border-width: 1px 0px 1px 0px ;
  border-style:solid;
  border-color:rgb(184,184,184);
  min-width: 20pt;
}

table tr:first-child{
  border-width: 0pt 0pt 1pt 0pt ;
}

table tr td{
  border-width: 0pt 1pt 0pt 1pt ;
  border-style:solid;
  border-color:rgb(184,184,184);
  padding: 5pt;
  min-width: 20pt;
}

article {
  font-size: 12pt;
  border-left: solid 8pt var(--color-grey);
  padding-bottom: 80pt;
}

header{
  min-height: 80pt;
  padding: 10pt 10pt;
  background-color: var(--color-grey);
}

header img {
  height: 80pt;
  float: left;
}

header h2 {
  font-size: 22pt;
  font-variant: small-caps;
  margin: 10pt;
  float: left;
}

header h1 {
  font-size: 22pt;
  font-variant: small-caps;
  margin: 0pt;
  margin-top: 10pt;
  text-align: right;
}

header p {
  margin: 0pt;
  text-align: right;
}

section {
  clear: left;
  margin: 10pt 10pt;
}

/* Boxes... */
.box {
  display: block;
  float: left;
  width: 260pt; /* three boxes (use 25% for four, and 50% for two, etc) */
  height: 140pt; /* three boxes (use 25% for four, and 50% for two, etc) */
  padding: 10pt; /* if you want space between the images */
  border: solid 1px black;
  background-color: var(--color-main);
  text-decoration: none;
}
.box:nth-child(2n){
  background-color: var(--color-contrast);
}
.box:nth-child(3n+3){
  background-color: var(--color-verb);
}
.box:nth-child(5n+2){
  background-color: var(--color-contrast);
}
.box:hover {
  background-color: var(--color-grey);
}
.box h3{
  color: black;
}
.box p{
  color: black;
}

section h2 {
  color: var(--color-main);
  margin: 32pt 0pt 8pt 0pt;
  font-size: 14pt;
}

div.sourceCode{
	margin-left: 22pt;
	padding: 0pt;
	padding-left: 6pt;
	background-color: var(--color-verb);
}

pre{
	margin: 0pt;
	padding: 0pt;
}

code{
	margin: 0pt;
	padding: 0pt;
  font-size: 11pt;
	background-color: var(--color-verb);
}

img {
  max-width: 100%;
}