:root {
  --color-white: white;
  --color-black: rgb(0,0,0);
  --color-imt-blue: rgb(0,184,222);
  --color-imt-yelow: rgb(242,169,0);
  --color-dark: rgb(75, 77, 81);
  --color-grey: rgb(220,220,220);
  --color-verb: rgb(240,240,240);

}

body {
  max-width: 800pt;
  margin-top: 20pt;
  margin-bottom: 10pt;
  margin-left: 10%;
  font-family: Copperplate, Verdana, sans-serif;
}

article {
  border-left: solid 8pt var(--color-grey);
  padding-bottom: 80px;
}

p, li{
  text-indent: 0cm;
  text-align: justify;
}

a {
    color: var(--color-imt-blue);
    text-decoration:none;
}

a:hover {
    /* font-weight: bold; */
    text-decoration:underline;
}

header{
  /* color: var(--color-imt-blue); */
  min-height: 80px;
  padding: 20px 20px;
  background-color: var(--color-grey);
}

header img {
  height: 90px;
  float: left;
}

header h2 {
  font-size: 22pt;
  font-variant: small-caps;
  margin-left: 20px;
  float: left;
}

header h1 {
  font-size: 22pt;
  font-variant: small-caps;
  margin: 0pt;
  margin-top: 10pt;
  text-align: right;
}

header p {
  margin: 0pt;
  text-align: right;
}

section {
  clear: left;
  padding-top: 10pt;
  margin: 0pt 10pt;
}


/* Template from :  https://codepen.io/munjewar/pen/KryeYR */
.wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    background: var(--color-grey);
    padding: 20px;
    border-radius: 8px;
    box-sizing: border-box;
    color: var(--color-background);
    margin: 5px;
    margin-left: 15px;
    border: 1px solid  var(--color-background);
}

.card-btn:hover{
    color: var(--color-imt-blue);
    border-color: var(--color-imt-blue) !important;
    text-decoration: none;
 }

.card-title{
    color: var(--color-main);
    margin-top: 0;
    font-size: 120%;
    /* font-weight: 600; */
    letter-spacing: 1.4px;
    margin: 0 0 10 ;
}
.card-content{
    margin: 0 0 10 ;
}

.card-btn{
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    color:var(--color-black);
    background-color: var(--color-verb)  !important;
    border: 0.5px solid var(--color-grey);
    padding: 10px 15px;
    border-radius: 8px;
    letter-spacing: 1.2px;
    width: 150px;
}

.card-btn {
    text-align: center;
}